// center trick - make sure parent has position relative
@mixin center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin center-relative {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}