.heroSection {
    background-size: cover;
    width: 100%;

    p {
        font-family: 'Abel';
    }
}

.bgtext {
    @include center-absolute;
    font-family: 'editionregular';
    font-size: 50vh;
    color: $primary;
    pointer-events: none;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.grid_container {
    margin: 0 auto;
    position: relative;
    padding: 100px 0;
    overflow: auto;
    box-sizing: border-box;
    min-height: 100vh;
}

.grid_row {
    width: 100%;

    &.hidden {
        display: none;
    }
}

.grid_item {
    border: 1px solid rgba(255, 255, 255, 0.9);
    height: 300px;
    display: inline-block;
}