@font-face {
    font-family: 'editionregular';
    src: url('../assets/fonts/edition-webfont.woff2') format('woff2'), url('../assets/fonts/edition-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mermaidbold';
    src: url('../assets/fonts/mermaid-webfont.woff2') format('woff2'), url('../assets/fonts/mermaid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}